.NewTravel {
    height: 100vh;
    background-color: rgba(212, 212, 211, 0.5);
    margin-bottom: 2%;
    .h {
        text-align: center;
        padding-top: 3%;
    }
    .NewsContent {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        height: 60%;
        margin-left: 3%;
    }
}
