.PakageItem {
    display: block;
    height: 30em;
    width: 65%;
    background-color: white;
    border-radius: 0.5em;
    margin-left: 20%;
    margin-top: 35%;
    position: relative;
    z-index: 2;
    cursor: pointer;
    &:hover {
        // margin: 0 0.1em 0.1em 0;
        box-shadow: 1px 1px 1em 0 rgba(0, 0, 0, 0.5);
    }
    img {
        height: 60%;
        width: 100%;
        border-radius: 0.5em;
        object-fit: fill;
        cursor: pointer;
        &:hover {
            margin: 0 0.1em 0.1em 0;
            box-shadow: 1px 1px 1em 0 rgba(0, 0, 0, 0.5);
        }
    }
    span {
        display: block;

        margin: 0.2em 0.5em;
    }
    .content {
        margin: 0.3em 0.5em;
        width: 95%;
        height: 6.2em;
        word-break: break-word;
        line-height: 1.2em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        -webkit-line-clamp: 5;
        -moz-line-clamp: 5;
        -ms-line-clamp: 5;
        line-clamp: 5;
        overflow: hidden;
        &:hover {
            overflow: visible;
        }
    }
}
@media only screen and (max-width: 739px) {
    .PakageItem {
        margin-left: -100%;
        width: 80%;
        margin-top: 10em;
        height: 60%;
        img {
            object-fit: fill;
            height: 10em;
        }
    }
}
// Tablet: width < 740px and width < 1024px
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .PakageItem {
        margin-top: 10em;

        img {
            object-fit: fill;
        }
    }
}
