.NewContent {
    display: flex;
    /* justify-content: center; */
    height: 100%;
    width: 23%;
    .contentContainer {
        height: 100%;
        display: grid;

        img {
            border-radius: 0.5em;
            height: 100%;
            width: 100%;
        }
        .content {
            height: 100%;
            width: 100%;
            i {
                &:hover {
                    display: none;
                }
            }
            p {
                word-break: break-word;
                line-height: 1.2em;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -ms-box-orient: vertical;
                box-orient: vertical;
                -webkit-line-clamp: 5;
                -moz-line-clamp: 5;
                -ms-line-clamp: 5;
                line-clamp: 5;
                overflow: hidden;
                &:hover {
                    overflow: visible;
                }
            }
        }
    }
}
