.NewContent {
    display: flex;
    /* justify-content: center; */
    height: 100%;
    width: 23%;
    .contentContainer {
        height: 100%;
        display: grid;

        img {
            border-radius: 0.5em;
            height: 100%;
            width: 100%;
        }
        .content {
            height: 100%;
            width: 100%;
        }
    }
}
