@import "../components/bacground_content/Background_Content.module.scss";
@import "../components/header/Header.module.scss";
@import "../components/tour_Travel/TourTravel.module.scss";
@import "../components/travel_Package/TravelPackage.module.scss";
@import "../components/news_Travel/NewTravel.module.scss";
@import "../components/tourist_Attraction/TouristAttraction.module.scss";
@import "../components/footer/Footer.module.scss";
@import "../components/background/Background.module.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
